# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Android
.gradle/
build/
*.apk
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Data
stores_cache.json
not_affiliated_stores.txt
